.input {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    padding: 10px;
    position: flex;
    width: 600px;
}

input {  
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    text-align: center; 
    background-color: lightgray;
}

input:focus {
    outline: none;
}

#serverlist {
    color: black;
    font-size: 1rem;
    padding: 10px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute;
}

#serverlist option {
    color: black; 
}

.dropbox {
    margin-bottom: 40px;
    margin-right: 90px;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}

.searchBar input {
    width: 30rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    color: rgb(0, 0, 0);
}