.mastery-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: auto;
    display: flex; /* Display flex to arrange items horizontally */
}

.mastery-info {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px; /* Add margin for spacing between blocks */
}

.mastery-info:last-child {
    margin-right: 0; /* Remove margin from last block */
}

.mastery-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mastery-info p {
    margin: 0;
    font-size: 18px;
    color: white;
}

.linkmast{
    color: rgb(96, 96, 197);
    align-self: top;
    scale: 80%;
}