.mastery-comp-alg {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mastery-comp-alg img {
  border-radius: 10px;
}