
/* Match History */

.history-container {
    background: rgb(88, 160, 88);
    border: 2px solid none;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
}

/* Groups */

.history-container .groupOne {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.history-container .groupTwo {
    display: flex;
    flex-direction: row;
    width: 200px;
}

/* Match History Text*/

.history-container .historyText {
    display: flex;
    flex-direction: row;
}

.history-container .historyText p {
    color: white;
    padding: 0px 15px 0px 0px;
}

/* Champ Icon */

.history-container .characterIcon img {
    width: 110px;
    height: 120px;
}

/* Spells */

.history-container .spells {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.history-container .iconSpells {
    display: flex;
    flex-direction: row;
}

/* Items */

.history-container .playerItems {
    display: flex;
    flex-direction: row;
}

.history-container .playerItems img {
    display: flex;
    flex-direction: row;
    width: 40px;
    padding: 3px 3px 0px 0px;
    border-radius: 4px;
}