/* Match History */

.win {
    background: rgb(88, 160, 88);
    border: 2px solid none;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.lose
{
    background: rgb(160, 88, 88);
    border: 2px solid none;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* Groups */

.history-container .groupOne {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.history-container .groupTwo {
    display: flex;
    flex-direction: row;
    width: 290px;
}

.history-container .groupThree {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
}

/* Match History Text*/

.history-container .historyText {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 5px 0px;
}

.history-container .historyText .winLoss p{
    padding: 0px 0px 0px 7px;
}

.history-container .historyText p {
    color: white;
    padding: 0px 21px 0px 0px;
}

/* Champ Icon */

.history-container .characterIcon {
    width: 100px;
    height: 100px;
}

/* Spells */

.history-container .spells {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.history-container .spells img {
    height: 50px;
}

.history-container .iconSpells {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

/* Player Stats */

.history-container .playerStats {
    margin-left: 50px;
}

.history-container .playerStats p {
    padding: 5px 0px 0px 0px;
}

/* Items */

.history-container .playerItems {
    display: flex;
    flex-direction: row;
}

.history-container .playerItems img {
    display: flex;
    flex-direction: row;
    width: 40px;
    padding: 30px 3px 0px 0px;
}

/* Players From Match */

.history-container .firstFive,
.lastFive {
    display: flex;
    flex-direction: column;
}
.lastFive {
    margin-left: 160px;
    position: absolute;
}

.history-container .firstFive img,
.lastFive img {
    width: 40px;
    height: 40px;
}

.history-container .firstFive p,
.lastFive p,
.firstFive img,
.lastFive img {
    padding: 2px 5px;
}

.history-container .playerOne,
.playerTwo,
.playerThree,
.playerFour,
.playerFive,
.playerSix,
.playerSeven,
.playerEight,
.playerNine,
.playerTen {
    display: flex;
    flex-direction: row;
}

/* Match History Page Button */

.arrowDown {
    border: solid rgb(14, 72, 29);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 10px;
}
  