body {
  background-attachment: fixed;
  background-size: cover;
}

/* Player Content */
.playerContent {
  max-width: 800px;
  margin: 0 auto;
}

.dropLead {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 150px;
}