.backButtonMatch {
  display: flex;
  margin-left: 35px;
  flex-direction: column;
}

.matchPage {
  display: flex;
  flex-direction: row;
}

/* Match Header */

.matchStart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.matchHeader {
  display: flex;
  flex-direction: row;
  background-color: rgb(101, 26, 26);
  width: 800px;
  height: 200px;
  margin-left: 150px;
}

.generalGameData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background-color: rgb(12, 2, 2);
}

.leftTeamStats {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.rightTeamStats {
  display: flex;
  flex-direction: column;
  width: 200px;
}

/* Player Match Data */

.playerDataMatch {
  display: flex;
  margin-left: 150px;
  flex-direction: column;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

tspan {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: white;
}

