.backButtonMatch {
  display: flex;
  margin-left: 35px;
  flex-direction: column;
}

.matchPage {
  display: flex;
  flex-direction: row;
}

/* Match Header */

.matchStart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.matchHeader {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.generalGameData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 400px;
  background: linear-gradient(90deg, rgb(108, 106, 106), rgb(0, 0, 0));
}

.gameTimeDataMatch {
  display: flex;
  flex-direction: row;
}

.gameTime {
  margin-left: 5px;
}

.leftTeamStats {
  display: flex;
  flex-direction: column;
  background: linear-gradient(70deg, rgb(128, 211, 112), rgb(34, 97, 7));
  width: 250px;
}

.leftTeamStats p {
  font-size: 19px;
  color: lightgray;
}

.rightTeamStats {
  display: flex;
  flex-direction: column;
  background: linear-gradient(70deg, rgb(215, 63, 63), rgb(135, 6, 6));
  width: 250px;
}

.rightTeamStats p {
  font-size: 19px;
  color: lightgray;
}

.winLossMatch {
  font-size: 30px;
}

/* Player Match Data */

.playerDataMatch {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
}

.match-details {
  display: flex;
}

/* Graphs */

.dropDownLabel {
  margin-left: 27px;
  padding: 0 5px 0 0;
  font-size: 20px;
}

.drop {
  color: black;
  padding: 2px;
}

.drop option {
  color: black;
}

.graphDrop {
  margin-top: 50px;
}