/*Search Bar*/



/*Player Info*/
/*Player name, rank, icon and level*/

.playerPage {
    display: flex;
    flex-direction: row;
}

.playerInfo {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.playerInfo p {
    font-size: 140%;
    margin-left: 10px;
}

.playerInfo .username {
    display: flex;
}

.playerInfo .username .name {
    font-size: 140%;
    margin-right: -10px;
}

.playerInfo .username .tag {
    color: lightgray;
    font-size: 110%;
    margin-top: 4px;
}

.playerInfo .IconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.playerInfo .icon {
    width: 200px;
    border-radius: 20%;
    border: 3px solid;
    border-color: rgb(129, 65, 235);
}

.playerInfo .level {
    width: fit-content;
    margin-top: -13px;
    font-size: 18px;
    color: white;
    border-radius: 23%;
    border: 3px solid;
    border-color: rgb(129, 65, 235);
    background-color: #191937;
    padding: 0px 4px;

}

/*Rank General*/

.playerInfo .rankBackground {
    margin-top: 35px;
    background: linear-gradient(70deg, rgb(118, 122, 225), rgb(0, 0, 133)) no-repeat;
    border-radius: 3px;
    color: white;
    width: 270px;
    height: 110px;
}

.playerInfo .rankName {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.playerInfo .rank {
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.playerInfo .LP {
    margin-left: 90px;
    font-size: 14px;
    color: lightgray;
}

.playerInfo .rankImage {
    width: 68px;
    position: absolute;
    margin-left: 10px;
    margin-top: -16px;
}

/* Mastery */

.masteryHistory {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 70px;
}

.mastery {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Match History */

.history {
    padding: 10px 0px 0px 0px;
}

/* Search Bar */

.playerPageSearchBar input{
    width: 30rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    color: rgb(0, 0, 0);
}